<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <h1>JOB TRACKER</h1>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/joblist">Job List</a>
            <a class="nav-item nav-link active" href="/auth/logout"><span class="text-danger">Logout</span></a>
        </div>
    </div>
</nav>

<h2 class="text-center">Application Tracker</h2>

<hr>

<div class="search-bar">
    <form action="/joblist" class="input-group input-group-lg" method="GET">
        <input type="text" class="form-login" style="width:250px;" name="filter" placeholder="Filter by anything..">
        <button type="submit" class="btn-main" style="width:60px; height: 35px; padding: 0px; margin: 0px">Filter</button>
    </form>
</div>

<hr>

<p class="text-center"><a class="btn-main" style="width:150px" href="/create">Create new Job</a></p>

<div class="container align-cards">
    <div class="row">
        {{#each jobs}}
        <div class="card shadow-sm p-3 mb-5" style="width: 22rem; background-color: rgb(253, 253, 253); margin-left: 20px">
            <div class="card-body">
                <div class="col ">
                    <p class="joblistHeader">Title:</p>
                    <p class="joblistContent">{{title}}</p>
                </div>
                <div class="col">
                    <p class="joblistHeader">Company:</p>
                    <p class="joblistContent">{{company}}</p>
                </div>
                <div class="col">
                    <p class="joblistHeader">Status:</p>
                    <p class="joblistContent"><span class=" btn btn-sm btn-secondary disabled rounded-4">{{status}}</span></p>
                </div>
                <div class="col">
                    <div class="card-bottom">
                        <a class="btn-delete" href="/details/{{_id}}"><span class="bi-plus-square" style="font-size: 30px; color:#80CED7"></span></a>
                        <form action="/delete/{{_id}}" method="post">
                            <button class="btn-delete" type="submit"><span class="bi-trash" style="font-size: 30px; color: rgb(173, 172, 172)"></span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<p class="text-center"><a class="btn-main" style="width:150px" href="/create">Create new Job</a></p>




               


















{{!-- {{#each jobs}}

<div class="row align-items-start">
    <div class="col">
        <p class="joblistHeader">Title</p>
        <p class="joblistContent">{{title}}</p>
    </div>
    <div class="col">
        <p class="joblistHeader">Company</p>
        <p class="joblistContent">{{company}}</p>
    </div>
    <div class="col">
        <p class="joblistHeader">Status</p>
        <p class="joblistContent">{{status}}</p>
    </div>
    <div class="col">
        <a class="btn btn-primary btn-sm active" href="/details/{{_id}}"><span>🔍︎</span></a>
        <form action="/delete/{{_id}}" method="post">
            <button class="btn btn-danger btn-sm active" type="submit">🗙</button>
        </form>
    </div>
</div>
<hr>
{{/each}} --}}

{{!-- <p class="text-center"><a class="btn btn-success btn-sm active" href="/create">Create new Listing</a></p> --}}