
<h2>{{this.title}} @ {{this.company}}</h2>
<h5>{{this.location}}</h5>
<h5>{{this.status}}</h5>
<hr>
<ul>
    <li>applied on {{this.date}}</li>
    <li>{{this.workplace}} routine</li>
    <li>Found on <a href="{{this.webUrl}}">{{this.website}}</a></li>
    <li>Contact Person: {{this.contact}}</li>
</ul>
<hr>
<h4>Job Description</h4>
<article>
    <p>{{this.description}}</p>
</article>
<hr>
<h4>Your Notes</h4>
<article>
    <p>{{this.notes}}</p>
</article>

<a class="btn btn-primary btn-sm active" href="/edit/{{_id}}">✎</a>
<a class="btn btn-primary btn-sm active" href="/joblist">🡄</a>



