<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <h1>IRON TRACKER</h1>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/joblist">Job List</a>
            <a class="nav-item nav-link active" href="/auth/logout"><span class="text-danger">Logout</span></a>
        </div>
    </div>
</nav>

<div class="details">
    <h2>{{this.title}} @ {{this.company}}<a href="/edit/{{_id}}"><span class="bi-pencil-square btn-delete" style="font-size:30px; margin-left:20px;"></span></a></h2>

    {{#if location}}
    <h5>located in {{this.location}}</h5>
    {{/if}}
    {{#if status}}
    <h5>Current Phase: {{this.status}}</h5>
    {{/if}}
    <hr>
    <ul>
        {{#if date}}
        <li>applied on {{formatDate this.date}}</li>
        {{/if}}

        {{#if workplace}}
        <li>{{this.workplace}} routine</li>
        {{/if}}
        {{#unless webUrl}}
        <li>Found on {{this.website}}</li>
        {{/unless}}
        {{#if webUrl}}
        <li>Found on <a href="{{this.webUrl}}" target="_blank">{{this.website}}</a></li>
        {{/if}}
        {{#if contact}}
        <li>Contact Person: <a href="https://www.google.com/search?q={{this.contact}}"
                target="_blank">{{this.contact}}</a>
        </li>
        {{/if}}
    </ul>
    <hr>
    <h4>Job Description</h4>
    <article>
        {{#unless description}}
        <p class="text-justify">No description provided yet!</p>
        {{/unless}}
        {{#if description}}
        <p class="text-justify">{{this.description}}</p>
        {{/if}}
    </article>
    <hr>
    <h4>Your Notes</h4>
    <article>
        {{#unless notes}}
        <p>You have no notes in this listing!</p>
        {{/unless}}
        {{#if notes}}
        <p>{{this.notes}}</p>
        {{/if}}
    </article>
</div>

<a class="btn-main shadow-sm p-3 mb-5 bg-body rounded back-btn" href="/joblist">Back</a>
